@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --pink: #FFA4D1;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D1117;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-blue {
  background: var(--pink);
  border: unset;
  outline: unset;

  border-radius: 6px;
  transition: all .3s;

  padding: 10px 20px;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.btn-blue.hollow {
  background: unset;
  border: 1px solid var(--pink);
}

.btn-blue.hollow:hover {
  background: var(--pink);
}

.hover {
  transition: all .3s;
}

.hover:hover {
  transform: translateY(-3px);
}

.txt-blue {
  color: var(--blue);
}

* {
  box-sizing: border-box;
}

.fadein {
  animation: .2s ease forwards fadein;
}

@keyframes fadein {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: unset;
}